<input type="button" value="logout" class="btn btn-secondary logoutBtn" onclick="logoutUser()">

<main>
    <div class="food">
        <div class="row">
            <div class="col1">
                <img src="/images/img1.webp" alt="">
            </div>
            <div class="col2">
                <img src="/images/img2.jpg" alt="">
            </div>
            <div class="col3">
                <img src="/images/img3.webp" alt="">
            </div>
        </div> 
    </div>
    <div class="input-group" style="height: 80px; cursor: pointer; padding-top: 30px;">
        <input id="searchText" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon" onclick="searchRestuarants()">
          <i class="fas fa-search"></i>
        </span>
      </div>
    <div class="container">
        <h3 class="cont-name">Restaurants</h3>
        
        <div class="place" id="exploreRestuarants">

        </div>
    </div>    
</main>

<!-- <div class="input-group">
    <div class="form-outline">
      <input id="searchText" type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
    </div>
    <button id="search-button" type="button" class="btn btn-primary" onclick="searchRestuarants()">
      <i class="fas fa-search"></i>
    </button>
  </div> -->